{% extends 'base.html' %}

{% block title %}
Profiling
{% endblock %}

{% block body %}
<h1>Military Security Agency</h1>
<p>
    XIX century
During the reign of Prince Miloš Obrenović, precautionary measures and prudence were taken during admission to military service. Those measures were applied to select recruits, assess the behavior of soldiers in the unit, but also to prevent the disclosure of military secrets.

The first legal act in which the security issues of the armed forces were defined in a comprehensive way is the Military Law, adopted on 12 November 1839. Chapters XIV and XV of the Military Law specify acts and sanctions for treason, desertion, rebellion and other forms of individual or collective action of military personnel against the interests of the people. In articles 7 and 8, acts of espionage and acts against the constitution and "the freedom of the people" are elaborated in particular.

Military security and intelligence activities gradually developed in the Principality of Serbia and experienced significant development, especially after gaining independence in 1878. On 6 February 1876, a Department for Intelligence and Counterintelligence Tasks (Odeljenje za obaveštajne i kontraobaveštajne zadatke) was established within the General Staff of the Armed Forces of the Principality of Serbia.[1]

Intelligence Department and Intelligence Directorate
In 1920, four departments were established within the General Staff of the Armed Forces of the newly-formed Kingdom of Serbs, Croats and Slovenes, the fourth of which, the Intelligence Department (Obaveštajno odeljenje), performed military intelligence and counterintelligence activities. Intelligence Department was in charge of suppressing enemy actions harmful to the interests of the army and the country, monitoring the writings of the domestic and foreign press, as well as research and the creation of military codes. Counterintelligence centers were established in 1928.

With the reorganization of the General Staff in 1941, three separate directorates were established, among them the Intelligence Directorate (Obaveštajna direkcija), which had three departments: intelligence, counterintelligence and the code department. The competence of the counterintelligence department was the protection of military units, army commands and headquarters, as well as military institutions and institutes. The structure of that department consisted of counterintelligence departments in military territorial institutions and counterintelligence bodies in military units, in charge of counterintelligence protection of commands, headquarters and units.

World War II
In 1942, the Supreme Headquarters of the People's Liberation Army and Partisan Detachments issued the first instruction on the organization of intelligence and counterintelligence services in Yugoslav Partisans units. The unified intelligence and counterintelligence service was established that same year and was organized into two sections: the Intelligence Section and the Counter-espionage Section - both tasked with the protection of partisan units, the fight against the “fifth column”, the enemy's propaganda and breaking his codes.[2]

In 1943, the Section for the Protection of the People was established with mission of counterintelligence protection of free territory and partisan units. Following year it was succeeded by the Department for People's Protection (OZNA) which at first dealt with the collection of intelligence data for the needs of operational units, and later it increasingly turned to the fight against espionage. The task of the Second Section of OZNA was the counterintelligence protection of the liberated territory and the fight against the internal enemy, while the Third Section was in charge of counter-intelligence protection of the armed forces of the People's Liberation Movement.

Counterintelligence Service
On 13 March 1946, the Third Section of OZNA was abolished and replaced with newly-formed the Counterintelligence Service - KOS (Kontraobaveštajna služba). Its main mission was counterintelligence protection of the Yugoslav Army from intelligence-subversive activities, prevention of the actions of foreign intelligence services to Yugoslav Army, as well as security measures in the units of the armed forces.

The KOS was reorganized several times, in accordance with changes in the organization of the Yugoslav Army. As part of the reorganization of the army in 1948, the Directorate of the KOS became part of the General Staff of the Yugoslav Army, as the 12th Directorate of the General Staff.

Simultaneously with counterintelligence work, KOS organized special courses for the training and education of its members. The KOS School was established in 1950 with course lasting one year. In 1955, the School Security Center was founded in Pančevo, which included the Security School and the Military Police School. Since 2009, that institution has been operating as the Center for the Training of Personnel of the Military Security Agency.[3]

Security Directorate
In 1955, the counterintelligence service was renamed the Security Directorate (Uprava bezbednosti) and has been subordinated to the Federal Secretariat for National Defence.

The main mission of the Military Security Directorate was to detect and prevent activities directed against the security and combat readiness of the Yugoslav People’s Army as well as to protect military secrets. The Security Directorate was organized in two main divisions: counterintelligence and preventive. The Counterintelligence Division dealt with preventing the activities of foreign intelligence services, using counterintelligence work methods and special purpose means. The Preventive Security Division worked in order to protect secret military data and the most important military facilities.

In 1992, after the break-up of Socialist Federal Republic of Yugoslavia and formation of Federal Republic of Yugoslavia (consisting of Serbia and Montenegro), the Security Directorate was subordinated to the General Staff of the Armed Forces of Serbia and Montenegro.

Military Security Service
In 2002, the Security Directorate was transformed into the Military Security Service (Vojna služba bezbednosti) and was transferred back from the General Staff to the Federal Ministry of Defence.

Within its jurisdiction, the Military Security Service was responsible for: security and counterintelligence protection of the commands, units and institutions of the Armed Forces of Serbia and Montenegro and the Federal Ministry of Defence; counterintelligence protection of the highest-ranking military officers and officials of defence ministry; organizing and carrying out preventive security work in the commands, units and institutions of the Armed Forces of Serbia and Montenegro; implementation and control of data protection measures; carrying out security checks of persons for admission to work of the Armed Forces of Serbia and Montenegro and the Federal Ministry of Defence.[4]

Mechanisms of democratic and civilian control of the Military Security Service were introduced. The law stipulated establihsment of parliamentary commission responsible for the control of the constitutionality and legality of the work of the Military Security Service; the compliance of its work with the national security policy, for the control of respect of human rights and freedoms; respect for the political, interest and ideological neutrality; control the application of special means and methods for data collection; the audit of spending budgetary funds.

The military police and counterintelligence functions were separated in 2003, on the basis of which the Military Security Agency, as an organizational unit of the Federal Ministry of Defence, and the Directorate of Military Police, as an organizational unit of the General Staff, were formed.

Military Security Agency
The Military Security Agency officially began functioning on 1 January 2004. The work of the Military Security Agency is regulated by the Law on the Military Security Agency and the Military Intelligence Agency which stipulates the competences, missions, supervision and control of both VBA and VOA, cooperation as well as other issues important for their work.[5]

</p>
{% endblock %}
