{% extends 'base.html' %}

{% block title %}
Qanunvericilik
{% endblock %}

{% block body %}
<h1>Qanunvericilik</h1>
<p><b>
    Azərbaycan Respublikasında mülki aviasiyanın təhlükəsizliyinin təmini sistemi Azərbaycan Respublikasının milli təhlükəsizliyinin vacib elementidir. Ölkə mülki aviasiyasının təhlükəsizlik strategiyasının məqsəd və vəzifələri beynəlxalq norma və prinsiplərə, habelə mütərəqqi xarici təcrübəyə əsaslanır.

Qeyd olunan prinsiplər nəzərə alınaraq mülki aviasiyanın fəaliyyətinin qanunsuz müdaxilə aktlarından qorunması tələblərini, normalarını və qaydalarını özündə birləşdirən “Aviasiya təhlükəsizliyinə dair Dövlət Proqramı” (bundan sonra ─ Dövlət Proqramı) işlənib hazırlanmışdır.

Dövlət Proqramı “Aviasiya haqqında” Azərbaycan Respublikasının Qanunu, Beynəlxalq Mülki Aviasiya Təşkilatının (ICAO), Avropa Mülki Aviasiya Konfransının (ECAC) və digər beynəlxalq mülki aviasiya təşkilatlarının standartları və tövsiyə olunan təcrübəsi, habelə Azərbaycan Respublikası Konstitusiyasının, Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq hüquqi aktların, habelə Azərbaycan Respublikasının qüvvədə olan digər normativ hüquqi aktlarının tələbləri nəzərə alınmaqla hazırlanmışdır və mülki aviasiyanın fəaliyyətinin qanunsuz müdaxilə aktlarından qorunmasına yönəlmiş qaydaların, eləcə də təşkilati tədbirlərin toplusundan ibarətdir.

Dövlət Proqramı özündə mülki aviasiyanın qanunsuz müdaxilə aktlarından qorunması sahəsində dövlət siyasətini və bu siyasətin reallaşdırılmasının təşkilati aspektlərini ehtiva edir.

Dövlət Proqramı aviasiya təhlükəsizliyinin tənzimlənməsini, eyni zamanda, belə təhlükəsizliyin təmin edilməsi sahəsində məqsədləri, vəzifələri, prinsipləri, maliyyə mənbələrini, əsas tədbirləri, vaxt çərçivələrini, vahid anlayış və terminologiyanı müəyyən edir və aviasiya təhlükəsizliyinin təmini sisteminin təşəkkülünə yönəlmişdir.

Dövlət Proqramında aviasiya təhlükəsizliyi dedikdə insan və material resursları daxil olmaqla aviasiyanı qanunsuz müdaxilə aktlarından qorumaq üçün tədbirlər kompleksi olmaqla mülki aviasiya sahəsində aeroportların, hava gəmilərinin və mülki aviasiyanın digər obyektlərinin mühafizəsi, ekipaj üzvlərinin, xidmət personalının və sərnişinlərin həyat və sağlamlığının qorunması, əl yüklərinin, baqajın, poçtun, digər yüklərin və hava gəmilərindəki bort ehtiyatlarının yoxlanılması, hava gəmilərini zəbt etmək və qaçırmaq cəhdlərinin qarşısının alınması, təhlükə mənbələrinin və risk faktorlarının müəyyən edilməsi yolu ilə insanlara və əmlaka zərər vurulması riskinin minimuma endirilməsi məqsədilə həyata keçirilən, habelə uçuşların təhlükəsizliyinin, müntəzəmliyinin və səmərəliliyinin təmin olunmasına xidmət edən kompleks tədbirlər nəzərdə tutulur.

Dövlət Proqramı daxili və beynəlxalq uçuşlara şamil edilir. Dövlət Proqramının icrası çərçivəsində aviasiya subyektlərindən aviasiya təhlükəsizliyinin təmin edilməsi səviyyəsinin mütəmadi monitorinqini aparmaq, mülki aviasiyanın fəaliyyətinə mümkün təhdidləri müəyyən etmək və risklərin qiymətləndirilməsini aparmaq, uçuşların ümumi təhlükəsizlik səviyyəsini artırmaq tələb olunur.

Bu vəzifələrin yerinə yetirilməsi aviasiya təhlükəsizliyinin və uçuşların təhlükəsizlik səviyyəsinin yüksəldilməsinə, insan itkilərinin və iqtisadi itkilərin qarşısının alınmasına kömək göstərəcək və davamlı inkişafa münbit şərait yaradacaqdır.

1. Dövlət Proqramının məqsəd, vəzifə və prinsipləri

1.1. Dövlət Proqramının məqsədləri aşağıdakılardır:

1.1.1. mülki aviasiyanın fəaliyyətinin qanunsuz müdaxilə aktlarından qorunması strategiyasını müəyyən etmək;

1.1.2. mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktlarına yol verilməməsi və onların qarşısının alınması tədbirlərini nəzərdə tutan qaydaları, təcrübə və prosedurları həyata keçirmək yolu ilə uçuşların təhlükəsizliyini, müntəzəmliyini və səmərəliliyini təmin etmək;

1.1.3. strateji, normativ və texniki tədbirlərin işlənilməsi və həyata keçirilməsi yolu ilə aviasiya təhlükəsizliyi səviyyəsini yüksəltmək, bu tədbirlərin səmərəli və dayanıqlı reallaşdırılmasını təmin etməklə sərnişinlərin, ekipaj üzvlərinin, aviasiya personalının və əhalinin təhlükəsizliyini təmin etmək;

1.1.4. Azərbaycan Respublikasında aviasiya təhlükəsizliyi sistemini beynəlxalq mülki aviasiya təşkilatlarının standartlarına və tövsiyə edilən təcrübəsinə uyğun inkişaf etdirmək;

1.1.5. aviasiya təhlükəsizliyinin təmini sahəsində idarədaxili və idarələrarası kompleks planlaşdırma sistemini yaratmaq və tətbiq etmək;

1.1.6. aviasiya təhlükəsizliyinə təhdidlərin güclənməsi zamanı cavab tədbirlərini təkmilləşdirmək və qərarların operativ qəbulunu təmin etmək;

1.1.7. Dövlət Proqramının həyata keçirilməsinə cəlb edilmiş dövlət qurumlarının, müəssisə, idarə və təşkilatların qarşılıqlı fəaliyyətini əlaqələndirmək, aviasiya təhlükəsizliyinin gücləndirilməsi üzrə birgə səyləri istiqamətləndirmək;

1.1.8. aviasiya təhlükəsizliyinin təmin edilməsinə səmərəli nəzarət sistemi yaratmaq;

1.1.9. aviasiya təhlükəsizliyi mədəniyyətini inkişaf etdirmək.

1.2. Dövlət Proqramının vəzifələri aşağıdakılardır:

1.2.1. sərnişinlərin, ekipaj üzvlərinin, aviasiya personalının, hava gəmilərinin, aeroportların (hava limanlarının), aerodromların, aeronaviqasiya obyektlərinin, həmçinin mülkiyyət və təşkilati-hüquqi formasından asılı olmayaraq mülki aviasiyanın digər obyektlərinin qanunsuz müdaxilə aktlarından qorunmasının və mühafizəsinin təmin edilməsi üzrə tədbirlər görmək;

1.2.2. aviasiya təhlükəsizliyinin təmini sahəsində əsas prioritetləri dəqiqləşdirmək;

1.2.3. aviasiya təhlükəsizliyi sahəsində dinamik dəyişən risklərə adekvat cavab tədbirlərini təmin etmək;

1.2.4. mülki aviasiyanın fəaliyyətinin qanunsuz müdaxilə aktlarından qorunması məqsədilə aviasiya təhlükəsizliyi üzrə bütün aspektləri əhatə edən ümumi sistemli yanaşma işləyib hazırlamaq və aidiyyəti dövlət orqanlarının yerinə yetirəcəkləri qabaqlayıcı əməliyyat tədbirlərini vaxtında planlaşdırmaq;

1.2.5. Dövlət Proqramının icrasına cəlb edilmiş dövlət orqanlarının əməliyyat qruplarının daim hazırlıqlı olmalarını təmin etmək;

1.2.6. mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktlarının qarşısının alınması üzrə əməliyyatlar zamanı sərnişinlərin, hava gəmilərinin və onların ekipaj üzvlərinin, aviasiya müəssisələri personalının təhlükəsizliyini təmin etmək;

1.2.7. Azərbaycan Respublikasında aviasiya təhlükəsizliyi sahəsində maarifləndirmə işini təşkil etmək;

1.2.8. aviasiya təhlükəsizliyi sahəsində innovasiya texnologiyalarının və müasir avadanlıqların tətbiqinin hüquqi və təşkilati əsaslarını işləyib hazırlamaq və bu tədbirlərin aviasiya təhlükəsizliyi xidmətləri, hava limanları və hava gəmilərinin istismarçıları tərəfindən tətbiqini dəstəkləmək.

1.3. Dövlət Proqramı aşağıdakı prinsiplərə əsaslanır:

1.3.1. aviasiya təhlükəsizliyinin təmini sisteminin risklərin qiymətləndirilməsi, idarə olunması və sistemli yanaşma yolu ilə qurulması;

1.3.2. aviasiya təhlükəsizliyinin təmini sisteminin qurulmasında səmərəlilik, mütənasiblik və dayanıqlılıq aspektlərinin nəzərə alınması;

1.3.3. aviasiya təhlükəsizliyinin təmini üzrə tətbiq edilən tədbirlərin mövcud təhdidlərin səviyyəsinə uyğun olması;

1.3.4. aviasiya təhlükəsizliyi nəzarətindən keçməmiş şəxsin, əl yükünün, baqajın, yükün, kuryer və poçt göndərişlərinin, bort ehtiyatlarının, habelə digər əşya və avadanlığın hava gəmisində daşınmasının yolverilməzliyi;

1.3.5. aviasiya təhlükəsizliyi nəzarətindən keçməmiş və buraxılış vərəqi olmayan şəxslərin və nəqliyyat vasitələrinin hava limanlarının nəzarət edilən zonalarına daxil olmasının yolverilməzliyi;

1.3.6. mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktlarının qarşısının alınması sahəsində Azərbaycan Respublikasının digər dövlətlərlə əməkdaşlığının beynəlxalq müqavilələr və qəbul olunmuş beynəlxalq təcrübə əsasında həyata keçirilməsi;

1.3.7. mülki aviasiya sahəsində fəaliyyət göstərən aviasiya subyektlərinin, digər hüquqi və fiziki şəxslərin Dövlət Proqramının tələblərinə riayət etməsi.

2. Qanunvericilik aktları

2.1. Mülki aviasiya sahəsində Azərbaycan Respublikasının qoşulduğu beynəlxalq konvensiya və sazişlər:

2.1.1. “Beynəlxalq Mülki Aviasiya haqqında” Konvensiya (1944-cü il 7 dekabr, Çikaqo) və həmin Konvensiyanın dəyişdirilməsinə dair 1977-ci il 30 sentyabr tarixli, 1980-ci il 6 oktyabr tarixli və 1984-cü il 10 may tarixli protokollar;

2.1.2. “Hava gəmilərində törədilmiş cinayətlər və bəzi digər aktlar haqqında” Konvensiya (1963-cü il 14 sentyabr, Tokio);

2.1.3. “Hava gəmilərinin qanunsuz zəbt edilməsinə qarşı mübarizə haqqında” Konvensiya (1970-ci il 16 dekabr, Haaqa);

2.1.4. “Mülki aviasiyanın təhlükəsizliyinə qarşı yönəldilən qanunsuz hərəkətlər əleyhinə mübarizə haqqında” Konvensiya (1971-ci il 23 sentyabr, Monreal);

2.1.5. “Mülki aviasiyanın təhlükəsizliyinə qarşı yönəldilən qanunsuz hərəkətlər əleyhinə mübarizə haqqında Konvensiya”nı tamamlayan Beynəlxalq mülki aviasiyaya xidmət göstərən aeroportlarda qanunsuz zorakılıq hərəkətləri əleyhinə mübarizə haqqında Protokol (1988-ci il 24 fevral, Monreal);

2.1.6. “Plastik partlayıcı maddələri aşkar etmək məqsədilə onlara nişan vurulması haqqında” Konvensiya (1991-ci il 1 mart, Monreal);

2.1.7. “Hava gəmilərinin qanunsuz zəbt edilməsinə qarşı mübarizə haqqında” Konvensiya (2010-cu il 10 sentyabr, Pekin);

2.1.8. “Hava gəmilərində törədilmiş cinayətlər və bəzi digər aktlar haqqında” Tokio Konvensiyasına əlavə Protokol (2014-cü il 4 aprel, Monreal).

2.2. Milli qanunvericilik aktları:

2.2.1. Azərbaycan Respublikasının Konstitusiyası;

2.2.2. Azərbaycan Respublikasının Cinayət Məcəlləsi;

2.2.3. Azərbaycan Respublikasının Cinayət-Prosessual Məcəlləsi;

2.2.4. Azərbaycan Respublikasının İnzibati Xətalar Məcəlləsi;

2.2.5. Azərbaycan Respublikasının Gömrük Məcəlləsi;

2.2.6. “Aviasiya haqqında” Azərbaycan Respublikasının Qanunu;

2.2.7. “Nəqliyyat haqqında” Azərbaycan Respublikasının Qanunu;

2.2.8. “Xidməti və mülki silah haqqında” Azərbaycan Respublikasının Qanunu;

2.2.9. “Polis haqqında” Azərbaycan Respublikasının Qanunu;

2.2.10. “Əməliyyat-axtarış fəaliyyəti haqqında” Azərbaycan Respublikasının Qanunu;

2.2.11. “Azərbaycan Respublikasının dövlət sərhədi haqqında” Azərbaycan Respublikasının Qanunu;

2.2.12. “Sərhəd mühafizə orqanları haqqında” Azərbaycan Respublikasının Qanunu;

2.2.13. “Terrorçuluğa qarşı mübarizə haqqında” Azərbaycan Respublikasının Qanunu;

2.2.14. “Azərbaycan Respublikasında nəqliyyat, rabitə və yüksək texnologiyalar sahəsində idarəetmənin təkmilləşdirilməsi ilə bağlı bəzi tədbirlər haqqında” Azərbaycan Respublikası Prezidentinin 2018-ci il 12 yanvar tarixli 1785 nömrəli Fərmanı;

2.2.15. Azərbaycan Respublikası Prezidentinin 2018-ci il 22 may tarixli 90 nömrəli Fərmanı ilə təsdiq edilmiş “Azərbaycan Respublikasının Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyi yanında Dövlət Mülki Aviasiya Agentliyi haqqında Əsasnamə”;

2.2.16. Azərbaycan Respublikası Nazirlər Kabinetinin 2006-cı il 22 mart tarixli 87 nömrəli qərarı ilə təsdiq edilmiş “Aviasiya qəzasının və insidentinin araşdırılması üzrə işlərin maliyyələşdirilməsi Qaydası”;

2.2.17. Azərbaycan Respublikası Nazirlər Kabinetinin 2008-ci il 30 aprel tarixli 105 nömrəli qərarı ilə təsdiq edilmiş “Azərbaycan Hava Yolları” Qapalı Səhmdar Cəmiyyətinin Nizamnaməsi”;

2.2.18. Azərbaycan Respublikası Nazirlər Kabinetinin 2008-ci il 19 sentyabr tarixli 219 nömrəli qərarı ilə təsdiq edilmiş “Aviasiya qəzası və ya insidenti barədə məlumatın verilməsi Qaydası”;

2.2.19. Azərbaycan Respublikası Nazirlər Kabinetinin 2009-cu il 5 avqust tarixli 118 nömrəli qərarı ilə təsdiq edilmiş “Aviasiya qəzalarını və insidentlərini araşdıran Komissiyanın fəaliyyət göstərməsi Qaydaları”;

2.2.20. Azərbaycan Respublikası Nazirlər Kabinetinin 2011-ci il 18 fevral tarixli 32 nömrəli qərarı ilə təsdiq edilmiş “Mülki aviasiya hava gəmilərinin uçuşlarının təhlükəsizliyinə dair məlumatların toplanması və işlənməsi sistemlərində informasiyanın qorunması Qaydaları”;

2.2.21. Azərbaycan Respublikası Nazirlər Kabinetinin 2013-cü il 15 yanvar tarixli 3 nömrəli qərarı ilə təsdiq edilmiş “Azərbaycan Respublikasının hava məkanından istifadə Qaydaları”.

3. Vəzifələrin bölüşdürülməsi

3.1. Mülki aviasiyanın təhlükəsizliyinin təmin edilməsi üzrə səlahiyyətli orqanlar aşağıdakılardır:

3.1.1. aviasiya təhlükəsizliyi üzrə idarələrarası orqanlar:

1. Azərbaycan Respublikasının Nazirlər Kabineti yanında Aviasiya Təhlükəsizliyi üzrə Respublika İdarələrarası Komissiyası (bundan sonra ─ Respublika Komissiyası);

2. Aviasiya Təhlükəsizliyi üzrə Aeroport İdarələrarası Komissiyası (bundan sonra ─ Aeroport Komissiyası);

3.1.2. aviasiya təhlükəsizliyi üzrə respublika sahələrarası orqanları;

3.1.3. aviasiya təhlükəsizliyi üzrə digər qurumlar.

3.2 Aviasiya təhlükəsizliyi üzrə idarələrarası orqanların əsas vəzifələri:

3.2.1. mülki aviasiyanın qanunsuz müdaxilə aktlarından qorunmasına yönəlmiş tədbirlər görmək;

3.2.2. qanunsuz müdaxilə aktlarına qarşı əks-təsir tədbirlər ilə bağlı Azərbaycan Respublikasının Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyi yanında Dövlət Mülki Aviasiya Agentliyinə (bundan sonra ─ Aviasiya Agentliyi) təkliflər vermək;

3.2.3. hava gəmilərinin qaçırılması və ya digər qanunsuz müdaxilə aktları ilə bağlı vəziyyətin tənzimlənməsi üzrə əməliyyat qərargahının fəaliyyətinə dəstək vermək.

3.3. Aviasiya təhlükəsizliyinin təmin edilməsi üzrə sahələrarası orqanların əsas vəzifələri:

3.3.1. aviasiya təhlükəsizliyinin təmin edilməsinə dair müvafiq norma və qaydaların aidiyyəti qurumlar tərəfindən hazırlanmasına, yerinə yetirilməsinə və onlara riayət edilməsinə nəzarət etmək;

3.3.2. hava gəmilərinin qaçırılması və digər qanunsuz müdaxilə aktları ilə bağlı halların qarşısının alınması üçün Respublika Komissiyasının işində iştirak etmək.

3.4. Aviasiya təhlükəsizliyinin təmin edilməsi üzrə digər dövlət orqanlarının əsas vəzifələri:

3.4.1. aviasiya təhlükəsizliyinin təmin edilməsi üzrə müvafiq norma və qaydaların həyata keçirilməsini təmin etmək;

3.4.2. Aeroport Komissiyasının işində iştirak etmək.

4. Əməkdaşlıq, koordinasiya və rabitə

4.1. İnformasiya əlaqəsi

4.1.1. aviasiya təhlükəsizliyi üzrə tədbirlərin səmərəliliyini artırmaq üçün mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktları ilə bağlı və ya belə təhlükə barədə beynəlxalq, dövlət və yerli səviyyədə analitik məlumatların toplanması müntəzəm olaraq təşkil edilir və onların yayılmasının qarşısını almaq məqsədilə müvafiq tədbirlər görülür;

4.1.2. qanunsuz müdaxilə aktına məruz qalmış hava gəmisi haqqında ilkin informasiyanın toplanması və aidiyyəti üzrə ötürülməsi məlumatlandırma sxeminə əsasən həyata keçirilir.

4.2. Aviasiya təhlükəsizliyinin təmin edilməsi sahəsində çoxtərəfli və ikitərəfli əməkdaşlıq

4.2.1. aviasiya təhlükəsizliyinin təmin edilməsi sahəsində xarici dövlətlər və beynəlxalq təşkilatlarla əməkdaşlıq mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktları ilə mübarizənin beynəlxalq hüquqi əsaslarının, metodlarının və mübarizə vasitələrinin təkmilləşdirilməsi, insidentlərin nizamlanmasında digər dövlətlərin müvafiq orqanları ilə qarşılıqlı əlaqələrin yaxşılaşdırılması, xarici təcrübənin öyrənilməsi və ondan istifadə edilməsi, hava gəmilərinin qaçırılması cəhdlərinin və Azərbaycan Respublikasında mülki aviasiyanın təhlükəsizliyinə qarşı digər hərəkətlərin qarşısının səmərəli surətdə alınması məqsədilə həyata keçirilir;

4.2.2. aviasiya təhlükəsizliyinin təmin edilməsi üzrə çoxtərəfli əməkdaşlıq ICAO, ECAC, həmçinin Azərbaycan Respublikasının tamhüquqlu üzv olduğu digər beynəlxalq təşkilatlar çərçivəsində, müvafiq beynəlxalq müqavilələrdən irəli gələn hüquq və öhdəliklərə uyğun olaraq həyata keçirilir;

4.2.3. ICAO çərçivəsində beynəlxalq əməkdaşlıq aşağıdakı istiqamətlərdə həyata keçirilir:

1. aviasiya təhlükəsizliyi sahəsində beynəlxalq konvensiyaların və çoxtərəfli sazişlərin işlənib hazırlanması;

2. beynəlxalq standartların və tövsiyə edilən təcrübənin təkmilləşdirilməsi;

3. ICAO və ECAC-ın aviasiya təhlükəsizliyinin təmin edilməsi üzrə daimi əsaslarla fəaliyyət göstərən orqanlarının işində iştirak edilməsi;

4. aviasiya təhlükəsizliyi sahəsində ICAO, ECAC və digər beynəlxalq təşkilatlar tərəfindən keçirilmiş yoxlamaların nəticələrinə dair məlumatların təqdim olunması. Bu sahədə aparılan məlumat mübadiləsi aviasiya təhlükəsizliyinin təmin edilməsi sahəsində qabaqcıl təcrübənin öyrənilməsinə və yerlərdə tətbiqinə imkan yaradır, dövlətlərarası münasibətləri, qarşılıqlı etimadı möhkəmləndirir, beynəlxalq norma və standartların düzgün yerinə yetirilməsinə zəmin yaradır;

5. aviasiya təhlükəsizliyinə dair digər normativ hüquqi aktların təkmilləşdirilməsinə dair təkliflər verilməsi;

4.2.4. aviasiya təhlükəsizliyinin təmin edilməsi sahəsində xarici dövlətlərlə ikitərəfli əməkdaşlıq hava nəqliyyatı haqqında hökumətlərarası və mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktları ilə mübarizəyə, habelə hava nəqliyyatında fövqəladə halların təhlilinin nəticələri barədə məlumatların vaxtında təqdim edilməsinə dair xüsusi sazişlərə əsaslanır;

4.2.5. ikitərəfli əməkdaşlıq çərçivəsində bağlanmış xüsusi sazişlərlə aşağıdakı məsələlər tənzimlənir:

1. aviasiya təhlükəsizliyi üzrə məsul şəxslərin adları, ünvanları, telefon, teleks və faks nömrələri, avtomatik fiksasiyalı teleqraf rabitəsinin (AFTN) ünvanı göstərilməklə, onlar arasında əlaqə yaratma qaydası;

2. qabaqlayıcı xarakterli cari məlumat mübadiləsinin, habelə qanunsuz müdaxilə aktı barədə məlumat daxil olduqda qarşılıqlı fəaliyyətin təşkili qaydası;

3. cinayətkarların zərərsizləşdirilməsi və hava gəmisi üzərində nəzarətin bərpa edilməsi məqsədilə güc vasitələrindən istifadə edilməsi qaydası;

4. qanunsuz müdaxilə aktına məruz qalmış hava gəmisinin havaya qalxmaması tələb olunduqda, bu barədə razılaşma əldə edilməsi;

5. qanunsuz müdaxilə aktına məruz qalmış hava gəmisinə məxsus olduğu dövlətin ərazisində yerə enmək imkanının verilməsi barədə razılaşma əldə edilməsi;

6. hava gəmisinin və sərnişinlərin geri qaytarılmasına dair razılaşma əldə edilməsi;

7. Azərbaycan Respublikasında aviasiya təhlükəsizliyinin təmin edilməsi sahəsində personalın hazırlığı və keyfiyyətə nəzarət sahəsində milli proqramlar, həmçinin Azərbaycan Respublikasının aviasiya daşıyıcılarının və Azərbaycan Respublikasında uçuşlar həyata keçirən digər aviasiya daşıyıcılarının aviasiya təhlükəsizliyi üzrə proqramları haqqında məlumat mübadiləsi;

8. mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktlarının qarşısının alınması və onlarla mübarizə sahəsində məlumat və təcrübə mübadiləsi;

9. aeroportlarda sərnişinlərin yoxlanılması, həmçinin əl yükünün, baqajın, yük və poçt göndərişlərinin mühafizəsi və yoxlanılması üçün tətbiq edilən texniki vasitələr barədə məlumat mübadiləsi;

4.2.6. Azərbaycan Respublikası özünün konkret reyslərinin və ya istismarçılarının təhlükəsizliyinin təmin edilməsi məqsədilə əlavə təhlükəsizlik tədbirləri görülməsi barədə xarici dövlətlərə müraciət etməzdən əvvəl müvafiq məsləhətləşmələr aparır və müraciətdə qeyd olunan əlavə təhlükəsizlik tədbirlərinin alternativ variantlarının həmin dövlət tərəfindən tətbiq edilməsi imkanlarını nəzərdən keçirir;

4.2.7. Azərbaycan Respublikası xarici dövlətlərin konkret reyslərinin və ya istismarçılarının təhlükəsizliyinin təmin edilməsi məqsədilə əlavə təhlükəsizlik tədbirləri görülməsi barədə müraciətləri qəbul edir və öz praktiki imkanları daxilində həmin müraciətlərin təmin edilməsi üçün tədbirlər görür;

4.2.8. Azərbaycan Respublikasında bu Dövlət Proqramının 4.2.7-ci yarımbəndində nəzərdə tutulan müraciətlərin cavablandırılması Azərbaycan Respublikası Dövlət Təhlükəsizliyi Xidmətinin və Azərbaycan Respublikası Nəqliyyat, Rabitə və Yüksək Texnologiyalar Nazirliyinin rəyi nəzərə alınmaqla, Aviasiya Agentliyi və “Azərbaycan Hava Yolları” QSC tərəfindən həyata keçirilir;

4.2.9. Azərbaycan Respublikası bu Dövlət Proqramının, aviasiya təhlükəsizliyi sahəsində keyfiyyətə nəzarət və aviasiya təhlükəsizliyi sahəsində personalın hazırlığı üzrə milli proqramların işlənib hazırlanmasında xarici dövlətlərlə əməkdaşlıq edir və bu sahələr üzrə məlumat mübadiləsini təmin edir;

4.2.10. Azərbaycan Respublikasında bu Dövlət Proqramının 4.2.9-cu bəndində qeyd edilən məsələlər üzrə məsul qurum Aviasiya Agentliyidir.

5. Dövlət Proqramının maliyyə təminatı

5.1. Aviasiya təhlükəsizliyinin təmin edilməsi üzrə xərclərin Azərbaycan Respublikasının qanunlarına, beynəlxalq qayda və təcrübəyə uyğun olaraq maliyyələşdirilməsi nəzərdə tutulur.

5.2. Aeroport istismarçılarının aviasiya təhlükəsizliyinin təmin edilməsi üzrə xərcləri həmin aeroportlarda göstərilən xidmətlərdən istifadə edən aviasiya müəssisələrinin ödədikləri yığımlar hesabına təmin edilir.

5.3. Aviasiya təhlükəsizliyinin təmin edilməsinə görə yığımlar, sərnişinlərin sayı və (və ya) hava gəmisinin çəkisi nəzərə alınmaqla, beynəlxalq standartlara uyğun olaraq tətbiq edilir.

5.4. Aeroport istismarçıları aviasiya daşıyıcılarının və digər müəssisə, idarə və təşkilatların sifarişinə əsasən əlavə aviasiya təhlükəsizliyi tədbirləri həyata keçirdikdə, əlavə yığım tətbiq etmək hüququna malikdirlər.

5.5. Aviasiya təhlükəsizliyinin təmin edilməsinə görə yığımlardan yalnız aviasiya təhlükəsizliyinin təmin edilməsi məqsədləri üçün istifadə olunmalıdır.

6. Dövlət Proqramının əsas istiqamətləri

6.0. Dövlət Proqramında müəyyən edilmiş əsas vəzifələrə uyğun olaraq mülki aviasiyanın təhlükəsizliyinin aşağıdakı əsas istiqamətlərdə inkişaf etdirilməsi nəzərdə tutulur:

6.0.1. mülki aviasiyanın təhlükəsizliyi sahəsində dövlət strategiyasının mövcud təhlükələrə adekvat olmasının təmin edilməsi;

6.0.2. aviasiya təhlükəsizliyinin təmin edilməsi sahəsində müəyyən edilmiş strategiyanın hüquqi bazasının təkmilləşdirilməsi;

6.0.3. aviasiya təhlükəsizliyinin təmin edilməsi sahəsində dövlət strategiyasının reallaşdırılmasına dəstək olan texniki həllərin işlənib-hazırlanması və innovasiyaların tətbiqi;

6.0.4. mülki aviasiyanın təhlükəsizliyi ilə bağlı informasiya resurslarının yaradılmasında müasir texnologiyaların tətbiqi;

6.0.5. mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktları ilə bağlı təhdid və insidentlər barədə analitik informasiyanın müntəzəm olaraq toplanmasının və yayılmasının beynəlxalq, dövlət və yerli səviyyədə təşkili;

6.0.6. mülki aviasiyanın təhlükəsizliyinin təmin edilməsi işində iştirak edən subyektlərin fəaliyyəti üçün zəruri şərait yaradılması və onların maddi-texniki təchizatının yaxşılaşdırılması;

6.0.7. mülki aviasiyanın təhlükəsizliyi sahəsində kadr hazırlığı işinin təkmilləşdirilməsi və peşəkarlıq səviyyəsinin yüksəldilməsi;

6.0.8. aeroportların, hava gəmilərinin, aeronaviqasiya obyektlərinin və mülki aviasiyanın digər obyektlərinin mühafizəsinin təşkili;

6.0.9. hava gəmilərinin aviasiya təhlükəsizliyinin təmin edilməsi məqsədilə hava gəmilərinə buraxılan şəxslərə və yüklənən əşyalara nəzarətin təmin edilməsi;

6.0.10. qanunsuz müdaxilə aktları ilə əlaqədar cavab tədbirlərinə operativ rəhbərliyin həyata keçirilməsi;

6.0.11. mülki aviasiyanın təhlükəsizliyi sahəsində beynəlxalq əməkdaşlığın genişləndirilməsi.

7. Dövlət Proqramının icrasından gözlənilən nəticələr

7.0. Dövlət Proqramının yerinə yetirilməsi aşağıdakı nəticələri əldə etməyə imkan verəcəkdir:

7.0.1. mülki aviasiya sahəsində dövlət siyasətinin möhkəmləndirilməsi, o cümlədən ICAO, ECAC və digər aidiyyəti beynəlxalq təşkilatlarla əməkdaşlığın gücləndirilməsi, Azərbaycan Respublikasının tərəfdar çıxdığı beynəlxalq konvensiyaların icrasına nəzarətin artırılması;

7.0.2. mülki aviasiyanın qanunsuz müdaxilə aktlarından qorunmasının təşkilati-hüquqi əsaslarının formalaşdırılmasına yönəlmiş tədbirlərin, qaydaların, təcrübə və prosedurların təkmilləşdirilməsi, uçuşların təhlükəsizliyinin, müntəzəmliyinin və səmərəliliyinin təmin edilməsi;

7.0.3. aviasiya təhlükəsizliyinin təmini sistemində risklərin qiymətləndirilməsi və idarə olunması sahəsinin əhəmiyyətinin artması, risklərin qiymətləndirilməsi və idarə olunması yolu ilə təhlükəsizlik sisteminin zəif yerlərinin aşkar edilməsi, onların aradan qaldırılmasının ən optimal yollarının müəyyən edilməsi;

7.0.4. risklərin qiymətləndirilməsi əsasında daxili və beynəlxalq uçuşlara münasibətdə mülki aviasiyanın qanunsuz müdaxilə aktlarından qorunması məqsədilə yeni qayda, prosedur və tədbirlərin hazırlanması və tətbiqi;

7.0.5. aviasiya təhlükəsizliyi mədəniyyətinin və insan resursları imkanlarının yüksəlməsi;

7.0.6. aviasiya təhlükəsizliyi sahəsində innovasiya texnologiyalarının və müasir avadanlıqların tətbiqinin genişlənməsi, daha səmərəli innovativ texniki həllərin tətbiqi yolu ilə aviasiya təhlükəsizliyinin təkmilləşdirilməsi;

7.0.7. keyfiyyətə nəzarət tədbirlərinin təkmilləşməsi və nəticə etibarilə aviasiya təhlükəsizliyinin təmininin uyğunluq səviyyəsinin artması;

7.0.8. Dövlət Proqramının tələblərinin aviasiya təhlükəsizliyinin təmin edilməsinə cəlb olunmuş aidiyyəti dövlət orqanları, müəssisə, idarə və təşkilatları, o cümlədən xarici hava gəmiləri istismarçıları tərəfindən daha səmərəli şəkildə yerinə yetirilməsi;

7.0.9. sərnişinlərin, ekipaj üzvlərinin, aviasiya personalının, hava gəmilərinin, mülkiyyət və təşkilati-hüquqi formasından asılı olmayaraq aeroportların, aerodromların, aeronaviqasiya və digər mülki aviasiya obyektlərinin mühafizəsi ilə bağlı tədbirlərin təkmilləşdirilməsi;

7.0.10. Dövlət Proqramının icrasına cəlb olunmuş müvafiq dövlət orqanlarının əməliyyat qruplarının mülki aviasiyanın fəaliyyətinə qanunsuz müdaxilə aktlarının qarşısının alınması sahəsində daimi hazırlığının təmin edilməsi;

7.0.11. mülki aviasiya sahəsində fəaliyyət göstərən hər bir hüquqi və fiziki şəxsin bu Dövlət Proqramının müddəalarına dair biliklərinin artırılması və onlar tərəfindən Dövlət Proqramının tələblərinin yerinə yetirmələrinə nail olunması;

7.0.12. Azərbaycan Respublikasının hava limanlarında həyata keçirilən aviasiya təhlükəsizliyi tədbirlərinin, o cümlədən aviasiya təhlükəsizliyi üzrə baxışın, nəzarətin, buraxılış və obyektdaxili rejimin səviyyəsinin ICAO-nun standartlarına və tövsiyə olunan təcrübələrinə uyğunlaşdırılması.
</b></p>
{% endblock %}